[Unit]
Description=Download JW Broadcasting videos

[Service]
ExecStart=/usr/local/bin/jwb-index
WorkingDirectory=~
User=%i

[Install]
WantedBy=multi-user.target
